<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculo Modelo</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.4.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles_home.css') }}">
</head>
<body>
    <div class="container">
        <h1>Cálculo Modelo e Valor da Aposta</h1>
        <form id="myForm" action="{{ url_for('predict_datapoint')}}" method="post">
            <div class="mb-3">
                <label class="form-label">Colocação Time Mandante</label>
                <br>
                <input class="form-control" type="number" name="colocacao_man" min="0" required />
            </div>
            <div class="mb-3">
                <label class="form-label">Colocação Time Visitante</label>
                <br>
                <input class="form-control" type="number" name="colocacao_vis" min="0" required />
            </div>
            <div class="mb-3">
                <label class="form-label">Percentual Chutes Time Mandante (últimos 6 jogos)</label>
                <br>
                <input class="form-control" type="number" name="med_perc_chutes_com_6_man" step="0.01" min="0" required />
            </div>            
            <div class="mb-3">
                <label class="form-label">Percentual Defesas Time Mandante (últimos 6 jogos)</label>
                <br>
                <input class="form-control" type="number" name="med_perc_defesas_com_6_man" step="0.01" min="0" required />
            </div>            
            <div class="mb-3">
                <label class="form-label">Percentual Gols Sofridos Time Mandante (últimos 6 jogos)</label>
                <br>
                <input class="form-control" type="number" name="med_perc_gols_sof_6_vis" step="0.01" min="0" required />
            </div>
            <div class="mb-3">
                <label class="form-label">Percentual Defesas Time Mandante (últimos 3 jogos)</label>
                <br>
                <input class="form-control" type="number" name="med_perc_defesas_com_3_man" step="0.01" min="0" required />
            </div>
            <div class="mb-3">
                <label class="form-label">Percentual de Chutes Time Visitante (últimos 6 jogos)</label>
                <br>
                <input class="form-control" type="number" name="med_perc_chutes_com_6_vis" step="0.01" min="0" required />
            </div>
            <div class="mb-3">
                <label class="form-label">Odds Vitoria Mandante</label>
                <br>
                <input class="form-control" type="number" name="odds_w" step="0.01" min="1" required />
            </div>
            <div class="mb-3">
                <label class="form-label">Odds Vitoria Visitante</label>
                <br>
                <input class="form-control" type="number" name="odds_l" step="0.01" min="1" required />
            </div>
            <div class="mb-3">
                <label class="form-label">Saldo</label>
                <br>
                <input class="form-control" type="number" name="bankroll" min="0" required />
            </div>
            <div class="mb-3">
                <button id="myBtn" class="btn-primary" type="submit">Palpite!</button>
            </div>
        </form>
      
        {% if show_results %}
        <div id="resultBox" class="result mt-3 p-3 border border-2 border-primary">
            <h2 class="text-primary" style="border-bottom: 2px solid #000000; padding-bottom: 5px; font-size: 1.5rem;">Resultado do Palpite</h2>
            <p class="result-text fw-bold">Probabilidade Vitória Mandante: {{ prob_w }}%</p>
            {% if bet_w > 0 %}
                <p class="result-text fw-bold" style="color: green;">Aposta na Vitória: R${{ bet_w }}</p>
            {% else %}
                <p class="result-text fw-bold">Aposta na Vitória: R${{ bet_w }}</p>
            {% endif %}
            {% if bet_l > 0 %}
                <p class="result-text fw-bold" style="color: green;">Aposta na Derrota: R${{ bet_l }}</p>
            {% else %}
                <p class="result-text fw-bold">Aposta na Derrota: R${{ bet_l }}</p>
            {% endif %}
        </div>
         {% endif %}
    
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.4.3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        window.onload = function() {
            document.getElementById('resultBox').scrollIntoView({ behavior: 'smooth' });
        }
    </script>
</body>
</html>
